Repository vig-os/devcontainer-smoke-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: just-fmt, pip-licenses, check-action-pins, bandit

just-fmt:
  name: just (format justfiles)
  entry: just --fmt --unstable
  language: system
  pass_filenames: false

pip-licenses:
  name: pip-licenses (check dependency licenses)
  entry: uv run pip-licenses --fail-on="GPL-3.0-only;GPL-3.0-or-later;AGPL-3.0-only;AGPL-3.0-or-later"
  language: system
  pass_filenames: false

check-action-pins:
  name: check-action-pins (verify SHA-pinned actions)
  entry: uv run check-action-pins
  language: system
  pass_filenames: false

bandit:
  name: bandit (Python security linting)
  entry: uv run bandit -r src/ -ll
  language: system
  pass_filenames: false

docs: update CHANGELOG
  CHANGELOG.md
Due: none

feat: install pre-commit in setup action
  .github/actions/setup-env/action.yml
Due: check-action-pins

chore: remove pre-commit hooks that are unavalable in CI
  .pre-commit-config.yaml
Due: none

chore: update devcontainer image and template
  .devcontainer/docker-compose.yml
  .devcontainer/justfile.base
  uv.lock
Due: pip-licenses

feat(ci): add repository_dispatch listener stub
  .github/workflows/repository-dispatch.yml
Due: check-action-pins

docs(changelog): add unreleased entry for dispatch listener
  CHANGELOG.md
Due: none

docs(changelog): add entry for bootstrap scripts
  CHANGELOG.md
Due: none

docs(changelog): add notes for merged Dependabot Actions updates
  CHANGELOG.md
Due: none

chore: update devcontainer image and template
  .cursor/skills/git_commit/SKILL.md
  .cursor/skills/pr_create/SKILL.md
  .cursor/skills/pr_solve/SKILL.md
  .cursor/skills/worktree_execute/SKILL.md
  .cursor/skills/worktree_pr/SKILL.md
  .devcontainer/justfile.base
  .devcontainer/justfile.gh
  .devcontainer/justfile.worktree
  .devcontainer/scripts/check-agent-identity.py
  .devcontainer/scripts/check-pr-agent-fingerprints.py
  .devcontainer/scripts/check-skill-names.sh
  .devcontainer/scripts/derive-branch-summary.sh
  .devcontainer/scripts/gh_issues.py
  .devcontainer/scripts/prepare-commit-msg-strip-trailers.py
  .devcontainer/scripts/resolve-branch.sh
  .githooks/prepare-commit-msg
  .github/agent-blocklist.toml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/sync-issues.yml
  CHANGELOG.md
Due: check-action-pins, bandit

chore: update devcontainer image and template
  .github/workflows/ci-container.yml
  .pre-commit-config.yaml
  docs/container-ci-quirks.md
Due: check-action-pins

docs: update CHANGELOG with ci-container entry
  CHANGELOG.md
Due: none

ci: parameterize container workflow image tag
  .github/workflows/ci-container.yml
Due: check-action-pins

ci: add workflow_call trigger to bare-runner CI
  .github/workflows/ci.yml
Due: check-action-pins

ci: wire repository_dispatch to run smoke CI variants
  .github/workflows/repository-dispatch.yml
Due: check-action-pins

chore: update devcontainer image and template
  .cursor/agent-models.toml
  .cursor/rules/changelog.mdc
  .devcontainer/justfile.devc
  .devcontainer/justfile.gh
  .devcontainer/justfile.worktree
  .devcontainer/scripts/check-agent-identity.py
  .devcontainer/scripts/check-pr-agent-fingerprints.py
  .devcontainer/scripts/check-skill-names.sh
  .devcontainer/scripts/derive-branch-summary.sh
  .devcontainer/scripts/gh_issues.py
  .devcontainer/scripts/prepare-commit-msg-strip-trailers.py
  .devcontainer/scripts/resolve-branch.sh
  .githooks/commit-msg
  .githooks/pre-commit
  .githooks/prepare-commit-msg
  .github/agent-blocklist.toml
  .github/label-taxonomy.toml
  .github/workflows/sync-issues.yml
  .gitignore
  .pre-commit-config.yaml
  justfile
  justfile.project
  pyproject.toml
  uv.lock
Due: just-fmt, pip-licenses, check-action-pins, bandit

chore: update devcontainer image and template
  .devcontainer/justfile.devc
  .devcontainer/justfile.gh
  .devcontainer/justfile.worktree
  .github/label-taxonomy.toml
  .vscode/settings.json
  CHANGELOG.md
  justfile.project
  uv.lock
Due: just-fmt, pip-licenses

fix(ci): grant pull-requests write in dispatch caller
  .github/workflows/repository-dispatch.yml
Due: check-action-pins

chore: update devcontainer image and template
  .github/workflows/ci.yml
  .vscode/settings.json
  uv.lock
Due: pip-licenses, check-action-pins

docs: add changelog entry for dispatch permissions fix
  CHANGELOG.md
Due: none

chore: update devcontainer image and template
  .github/workflows/codeql.yml
Due: check-action-pins

chore: deploy latest 'devcontainer' image manually
  .devcontainer/README.md
  .devcontainer/docker-compose.yml
  .devcontainer/justfile.base
  .devcontainer/justfile.gh
  .devcontainer/scripts/initialize.sh
  .devcontainer/scripts/version-check.sh
  .github/workflows/ci-container.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/repository-dispatch.yml
  .vig-os
  .vscode/settings.json
  CHANGELOG.md
  README.md
  uv.lock
Due: pip-licenses, check-action-pins

chore: set '.vig-os' devcontainer version to 0.2.1
  .vig-os
Due: none

chore: deploy latest 'devcontainer' image manually
  .github/workflows/repository-dispatch.yml
Due: check-action-pins

chore: set '.vig-os' DEVCONTAINER_VERSION to 0.3.0-rc1
  .vig-os
Due: none

chore: deploy latest 'devcontainer' image manually
  .devcontainer/scripts/initialize.sh
  .devcontainer/scripts/version-check.sh
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/repository-dispatch.yml
  .github/workflows/sync-issues.yml
  .github/workflows/sync-main-to-dev.yml
  CHANGELOG.md
Due: check-action-pins

chore: set '.vig-os' DEVCONTAINER_VERSION to 0.3.0-rc2
  .vig-os
Due: none

fix: switch DEVCONTAINER_VERSION to '0.3.0-rc2' in '.vig-os'
  .vig-os
Due: none

chore: deploy latest dispatch workflow manually
  .github/workflows/repository-dispatch.yml
Due: check-action-pins

chore: deploy fix to CI failure
  .devcontainer/CHANGELOG.md
  .github/workflows/ci.yml
  .github/workflows/release-core.yml
  .github/workflows/release-publish.yml
  .github/workflows/sync-issues.yml
  .github/workflows/sync-main-to-dev.yml
  CHANGELOG.md
Due: check-action-pins

chore: deploy latest workflows manually
  .github/actions/resolve-image/action.yml
  .github/actions/setup-env/action.yml
  .github/workflows/ci-container.yml
  .github/workflows/ci.yml
  .github/workflows/prepare-release.yml
  .github/workflows/release-core.yml
  .github/workflows/release-extension.yml
  .github/workflows/release-publish.yml
  .github/workflows/release.yml
  .github/workflows/repository-dispatch.yml
  .github/workflows/sync-issues.yml
  .github/workflows/sync-main-to-dev.yml
Due: check-action-pins

chore: update '.vig-os' from 0.3.0-rc2 to 0.3.1-rc7
  .vig-os
Due: none

chore: update workflow files
  .github/workflows/repository-dispatch.yml
  .github/workflows/sync-main-to-dev.yml
Due: check-action-pins

Path conditions:
  just-fmt: any of: ^justfile(\..*)?$, but not: ^.github_data/|^docs/issues/|^docs/pull-requests/
  pip-licenses: any of: ^(pyproject\.toml|uv\.lock|requirements.*\.txt)$, but not: ^.github_data/|^docs/issues/|^docs/pull-requests/
  check-action-pins: any of: ^\.github/(workflows/.*\.ya?ml|actions/.*/action\.ya?ml)$, but not: ^.github_data/|^docs/issues/|^docs/pull-requests/
  bandit: any of: \.py$, but not: ^.github_data/|^docs/issues/|^docs/pull-requests/
